*{
    -GtkWidget-focus-line-width: 0;
}
GtkScrollbar{
    border-image: none;
    background-image: none;
}

GtkFrame{
    border-style: none;
}

GtkButton{
    border-image: none;
    background-image: none;
    background-color: #eee;
}
GtkButton:hover{
    background-color: #d4d4d4;
}
GtkButton:active{
    background-color: #fff;
}

#left_side_frame, #username_and_state_box *{
    background-color: #343131;
    color: #FFF;
}

#notebook_frame GtkButton{
    background-color: #343131;
    color: white;
}
#notebook_frame GtkButton:hover, #notebook_frame GtkButton:hover, #notebook_frame GtkButton:hover{
    background-color: shade(#343131, 1.1);
}

#notebook_frame GtkButton:active{
    background-color: #fff;
}

#notebook_frame{
    background-color: #343131;
}


GtkNotebook *{
    color: #fff;
    /*font-size: 11px;*/
}

GtkNotebook, #friend_requests_container{
    background-image: none;
    background-color: #0f99e8;
    border-style: none;
    box-shadow: none;
}

GtkNotebook tab{
    padding: 7px 15px 7px 15px;
    background-image: none;
    background-color: #343131;
    color: #fff;
    border-style: none;
    box-shadow: none;
}

GtkNotebook GtkEntry{
    color: #000
}

GtkNotebook tab:active{    
    background-color: #0f99e8;
}

#FriendsList GtkButton{ background-color: transparent; }
#FriendsList GtkButton:hover{ background-color: transparent; }
#FriendsList GtkButton:active{ background-color: transparent; }

#FriendsList #selected_friend{ background-color: #343131; }
#FriendsList GtkFrame{ background-color: transparent; }


#chat_widget_frame{
    background-color: #fff;
    border-style: none;
    padding: 15px;
}